.range-slider-container {
  position: absolute;
  width: 90%;
  top: 5rem;
  -webkit-tap-highlight-color: transparent;
}

.range-slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  background: #ecf0fb;
  border-radius: 5px;
  outline: none;
  margin: 0;
  position: relative;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    background: #10d8c4;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
    position: relative;
    box-shadow: 0 2px 10px 5px rgba(16, 216, 196, 0.5);
    z-index: 1;
    background-image: url("../../../images/icon-slider.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:active::-webkit-slider-thumb {
    box-shadow: 0 2px 12px 7px rgba(16, 216, 196, 0.5);
  }

  &::-webkit-slider-runnable-track {
    height: 0.5rem;
    position: relative;
  }
}

.progress-bar {
  height: 0.5rem;
  background: #a4f3eb;
  top: 0.3rem;
  left: 0;
  border-radius: 5px;
  position: absolute;
}
