.range-slider-container {
  width: 250px;
  top: 0;
  -webkit-tap-highlight-color: transparent;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.range-slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  background: #ecf0fb;
  border-radius: 5px;
  outline: none;
  margin: 0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    background: #10d8c4;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
    box-shadow: 0 2px 10px 5px rgba(16, 216, 196, 0.5);
    background-image: url("../../../images/icon-slider.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:active::-webkit-slider-thumb {
    box-shadow: 0 2px 12px 7px rgba(16, 216, 196, 0.5);
  }

  &::-webkit-slider-runnable-track {
    height: 0.5rem;
    position: relative; 
    z-index: 1;
  }
}

.progress-bar {
  height: 0.5rem;
  background: #a4f3eb;
  transform: translateY(-12px);
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .range-slider-container {
    width: 500px;
  }
  .range-slider-container {
    padding-bottom: 3rem;
  }
}
