

.CheckBox {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 35px;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.CheckBox.left {
  background-color: #cfd8ef;
}

.CheckBox.right {
  background-color: #10d8c4;
}

.slider {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  align-self: center;
  margin-left: 3px;
}

.CheckBox.left .slider {
  transform: translateX(0);
}

.CheckBox.right .slider {
  transform: translateX(15px);
}
.billings {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
#monthP {
  color: #848ead;
  font-family: "Manrope";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
  margin: 0;
  flex-grow: 1;
  max-width: 36%;
}
.disc {
  width: fit-content;
  height: 1.1875rem;
  border-radius: 0.59375rem;
  background: #feede8;
  color: #ff8d68;
  text-align: center;
  font-family: "Manrope";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-right: 6px;
  padding-left: 6px;
}

#yearP {
  color: #848ead;
  text-align: left;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  font-family: "Manrope";
  line-height: normal;
  margin: 0;
}

.disc span {
  display: none;
}

@media screen and (min-width: 800px) {
  .disc span {
   display: flex;
  }

  .disc {
    display: flex;
    justify-content: space-between;
    width: 15%;
  }
  .billings{
    justify-content: space-around;
  }
  #monthP {
    max-width: 38%;
  }
  #yearP {
  }
}