.CheckBox {
  position: relative;
  bottom: 3rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.CheckBox.left {
  background-color: #cfd8ef;
}

.CheckBox.right {
  background-color: #10d8c4;
}

.slider {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  align-self: center;
  margin-left: 3px;
}

.CheckBox.left .slider {
  transform: translateX(0);
}

.CheckBox.right .slider {
  transform: translateX(30px);
}
.billings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  position: relative;
  height: fit-content;
  text-align: center;
}
#monthP {
  color: #848ead;
  text-align: center;
  font-family: "Manrope";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  left: -1rem;
  top: -4.2rem;
}
.disc {
  width: 2.5625rem;
  height: 1.1875rem;
  flex-shrink: 0;
  border-radius: 0.59375rem;
  background: #feede8;
  color: #ff8d68;
  text-align: center;
  font-family: "Manrope";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  right: -2.7rem;
  top: -4.2rem;
}

#yearP {
  color: #848ead;

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  right: 0rem;
  top: -4.2rem;
}
