@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  margin-top: 0;
  margin-bottom: 0;
}

.MainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 470px;
  user-select: none;
}

.circleImg{
  padding-top: 2rem;
  padding-bottom: 0;
  position: absolute;
  top: 1rem;
  z-index: -1;
}

.ParentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 350px;
  min-width: 320px;
}

.bgImage{ 
  min-height: 350px;
  width: 100vw;
  height: 50%;
  min-width: 320px;
  border-radius: 0rem 0rem 0rem 8rem;
  background: #f1f5fe;
  position: absolute;
  top: 0;
  z-index: -1;
}

.MainDiv h1 {
  color: #293356;
  text-align: center;
  font-family: "Manrope";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 4rem;
}

.headerP {
  color: #848ead;
  text-align: center;
  font-family: "Manrope";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4375rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.PricingForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 94%;
  min-height: 27.875rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.9);
  transform: translateY(10%);
}
.PricingForm h2 {
  color: #848ead;
  text-align: center;
  font-family: "Manrope";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.10713rem;
  text-transform: uppercase;
  padding-top: 2rem;
}

.Price {
  color: #848ead;
  text-align: center;
  font-family: "Manrope";
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
  padding-bottom: 0.5rem;
}
.Price span {
  color: #293356;
  text-align: right;
  font-family: "Manrope";
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.05rem;
  padding-right: 0.5rem;
}

.BorderLine {
  width: 100%;
  height: 0.0925rem;
  flex-shrink: 0;
  background-color: #ecf0fb;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Features {
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.feature {
  display: flex;
  align-items: center;
}

.feature p {
  color: #848EAD;
  font-family: 'Manrope';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}

.ButtonDiv button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20.5px;
  background-color: #293356;
  height: 41px;
  font-family: "Manrope";
  width: 170px;
  color: #becdff;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  border: 0px;
  margin-top: 2rem;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.2s;
}

.ButtonDiv button:active {
  transform: scale(1.05);
}




@media screen and (min-width: 800px) {

 
 .Features{
  padding-top: 2rem;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
 }
 .feature{
  padding-top: 1rem;
 }
 .PricingForm{
  width: 600px;
 }
 .UpperDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 }
 .Price{
  order: -1;
  text-align: center;
  padding: 0;
 }
 .UpperDiv h2{
  order: -1; 
  padding-top: 20px;
  padding-bottom: 16px;
 }
}