@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
body {
  background-color: white;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

.MainDiv {
  display: flex;
  justify-content: column;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow: visible;
  margin-bottom: 5rem;
}

.bgRectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  height: 50vh;
  min-height: 350px;
  min-width: 320px;
  border-radius: 0rem 0rem 0rem 8rem;
  background: #f1f5fe;
  z-index: -1;
}

.bgRectangle img {
  position: absolute;
  top: 3.5rem;
  width: 9.125rem;
  height: 9.0625rem;
}

.MainDiv h1 {
  color: #293356;
  text-align: center;
  font-family: "Manrope";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 4rem;
}

.MainDiv p {
  color: #848ead;
  text-align: center;
  font-family: "Manrope";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4375rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.PricingForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 94%;
  height: 60%;
  min-height: 27.875rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.9);
  transform: translateY(10%);
  max-width: 33.75rem;
  position: relative;
}
.PricingForm h2 {
  color: #848ead;
  text-align: center;
  font-family: "Manrope";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.10713rem;
  text-transform: uppercase;
  position: absolute;
  top: 1.8rem;
}

.PricingForm p {
  position: absolute;
  color: #848ead;
  text-align: center;
  font-family: "Manrope";
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
  padding: 0;
  margin: 0;
  top: 7rem;
}
.PricingForm p span {
  color: #293356;
  text-align: right;
  font-family: "Manrope";
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.05rem;
  padding-right: 0.5rem;
}
